doctype 5
head
	meta(charset="UTF-8")
	title(data-bind="text: title")

	// Icon
	link(rel="shortcut icon", href=icon)

	// Styles
	each sheet in styles
		link(rel="stylesheet", href=sheet)

	// Templates
	each tmpl in templates
		script(type=tmpl.type, id=tmpl.id, src=tmpl.path)= tmpl.content

	// Source loader
	script(data-main=loader.main, src=loader.path)

body
	#top.navbar.navbar-fixed-top: .navbar-inner
		button#btn-sidebar.btn.btn-navbar(data-bind="\
			click: toggleSidebar,\
			css: { disabled: !isAuthorized(), active: !sidebarIsClosed() }\
		")
			span.icon-bar
			span.icon-bar
			span.icon-bar

		a#logo.brand(href="#") Desi

		ul.nav.pull-right(data-bind="with: locale().menu")
			// ko ifnot: $root.isAuthorized
			li: a(href="#login", data-bind="text: login")
			li: a(href="#signup", data-bind="text: signup")
			// /ko
			// ko if: $root.isAuthorized
			li: a(href="#logout", data-bind="text: logout")
			// /ko

	// ko if: isAuthorized
	#sidebar.closed(data-bind="css: { closed: sidebarIsClosed }")
		ul.nav.nav-list
			li(data-bind="css: { active: sectionTemplate() === 'lookup' }")
				a(href="#lookup")
					i.icon-globe
					span(data-bind="text: locale().sidebar.lookup")
			li(data-bind="css: { active: sectionTemplate() === 'account' }")
				a(href="#account")
					i.icon-user
					span(data-bind="text: locale().sidebar.account")
			li(data-bind="css: { active: sectionTemplate() === 'share' }")
				a(href="#share")
					i.icon-share
					span(data-bind="text: locale().sidebar.share")
			li(data-bind="css: { active: sectionTemplate() === 'exportation' }")
				a(href="#exportation")
					i.icon-upload
					span(data-bind="text: locale().sidebar.exportation")
			li(data-bind="css: { active: sectionTemplate() === 'generation' }")
				a(href="#generation")
					i.icon-wrench
					span(data-bind="text: locale().sidebar.generation")
	// /ko

	#main
		// ko if: isAuthorized
		#lookup(data-bind="section: 'lookup'")
		#edit(data-bind="section: 'edit'")
		// /ko

		// ko ifnot: isAuthorized
		#login(data-bind="section: 'login'")
		#signup(data-bind="section: 'signup'")
		// /ko